@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
    @apply text-white;
    @apply bg-gray-900;
  }
  body {
    display: flex;
    place-items: center;
    min-width: 320px;
    @apply leading-relaxed;
  }
  h1 {
    @apply text-2xl mb-3;
  }
  h2 {
    @apply text-xl mb-2;
  }
  a {
    @apply text-blue-500;
  }
  p {
    @apply my-2;
  }
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    /* https://tailwind-elements.com/docs/standard/components/buttons/ */
    @apply inline-block px-5 py-2 bg-blue-600 text-white font-medium text-base leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
  }
}

#app {
  @apply text-center;
  margin: 0 auto;
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
